/* 編集しないでください */
/* *, *:after, *:before {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1;
    border: none;
} */

body {
    font-size: 10px;
    line-height: 1em; /*行間*/
    background-color: #000;
    color: #FFF; /*文字色*/
}

p {
    font-size: 100px;
}

.small {
    font-size: 5px;
}

.red {
    color: red;
}
/* ここから上は編集しないでください */


